div {
  font-size: 22px;
  white-space: pre-wrap;
}
.GuessDisplay-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 50vh;
  height: 50vh;
}
.GuessDisplay-element {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.GuessDisplay-row {
  display: flex;
  padding-right: 30px;
  flex-direction: row;
}

.GuessDisplay-element > div {
  padding-right: 30px;
}

.GuessDisplay-row > div {
  padding-right: 10px;
}

.GuessDisplay-label {
  color: rgb(24, 24, 65);
}

.GuessDisplay-player {
  color: rgb(196, 45, 45);
}
