.Spa {
  text-align: center;
}

.Spa-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Spa-body {
  background-color: #bfceec;
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(250, 110, 45);
}
